body {
 
  background-image: url(https://psv4.userapi.com/c505536/u548859487/docs/d14/a2ed623deb53/941afad4465c7704abe8996ef0f495742e3963a5.png?extra=x9S_NsWbkI2MCBlqtSV5Ic20qsZMbK7osRih2r4JwYIftsUE_QJfjV1LbLZWO6GUyUkb7WWucZWDNCJLduRKmrjgsFa2nUrUeePfLNa5RcC9t3y1zfq1iJhzOYXgAjTNvK1X0qd_lc1m24xfuDgWPriaHA);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
